 
<div class="container mt-5">
   <div class="row mt-3">
         <div class="preview-card col-10 m-auto">
            <div class="preview-card__wrp ">
                <div class="preview-card__item">
                      <div class="preview-card__content">
                                 <span class="preview-card__code font-italic">Author: <span class="text-capitalize"> <%= link_to @article.user.user_name , @article.user %></span>
                                    <span class='float-right'> 
                                        <% if @article.categories.any? %>
                                            <%= render @article.categories %>
                                        <% end %>
                                    </span>
                                </span>
                                <div class="preview-card__title text-capitalize"><%= @article.title %></div>
                                <div class="preview-card__text text-capitalize">
                                     <%= @article.description %>
                                </div>
                                <%= link_to 'See All Articles', articles_path ,class:"preview-card__button  " %>
                                <%= link_to 'Create new Article', new_article_path ,class:"preview-card__button    "%>
                                <% if logged_in? && (@article.user == current_user  || current_user.admin? ) %>
                                <%= link_to 'Edit', edit_article_path(@article),class:"preview-card__button  " %>
                                     <%= link_to 'See Your Articles', all_articles_user_path ,class:"preview-card__button  " %> 
                                     <%= link_to 'Delete', article_path(@article), method: :delete , data: {confirm:"Are you Sure to Delete this ?"},class:"preview-card__button bg-danger "%>
                                <% end %>
                     </div>
                </div>
                <div class="mt-2 text-dark">
                    <span> 
                        <b>Created at :</b> <%= @article.created_at.to_date %>
                    </span>
                    <span>
                        <b>Updated at :</b> <%= @article.updated_at.to_date%>
                    </span>
                </div>
            </div>
        </div>
  </div>
 <div class="d-flex justify-content-center">

</div>
</div>
