 <div class="container">
  <h1 class='text-center mt-3'>Showing All Authors</h1>
 <div class="row mt-lg-1 mt-5 ">
      <div class="mt-lg-1 mt-3 p-lg-0 p-5"></div> 
 
   <% @users.each do |user| %>
        <div class="preview-card col-10 mt-3  mx-auto shadow  ">
        <div class="preview-card__wrp">
            <div class="preview-card__item">
            <div class="preview-card__img">
               <%= load_profile_image %>
            </div>
            <div class="preview-card__content">
                <span class="preview-card__code font-italic">Name : <span class="text-capitalize"> <%= link_to user.user_name,user %></span></span>
                <div class="preview-card__title text-capitalize"><%= pluralize(user.articles.count,"article") %></div>
           
              
               <%= link_to 'View Profile', user,class:"preview-card__button  " %>
               
                <%= link_to 'Edit', edit_user_path(user),class:"preview-card__button " %>

              

            </div>
            
            </div>
            <div class="mt-2 text-dark">
                <span> 
                    <b>Joined  <%= time_ago_in_words(user.created_at) %> ago</b>
                </span>
                 
            </div>
         </div>
        </div>
   <%end%>
 </div>
 <div class="apple_pagination">
    <%= will_paginate @users, :container => false %>
  </div>

  </div>